*{
    background-color: black;
    border-color:black;
}

.container{
    height:100vh;

    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    display:grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: 150px repeat(5,100px);
    
}
::placeholder{
    color:white;
    opacity:1;
}
input{
    grid-row : 1/1;
    grid-column: 1/5;
    border: none;
    color: white;
    font-size:100px;
    text-align: right;
    margin-right:20px;

}

button{
    background-color: rgb(58, 58, 58);
    color:white;
    border: none;
    border-radius:100px;
    margin:10px;
    font-size: 40px;
    font-weight:lighter;
}

.text{
    font-size:30px;
}

.toprow{
    background-color: rgb(180, 180, 180);
    color:rgb(22, 22, 22);
}

.rightcol{
    background-color: orange;
    color:white;
}

.zero{
    grid-row: 6/7;
    grid-column: 1/3;
}
